.nav-socials {
  position: fixed;
  top: 0;
  left: 0;
}
.nav-display {
  margin-top: 2.5em;
}
.section {
  border: 2px solid rgb(3, 255, 79);
}
.nav-search {
  border: 2px solid rgb(3, 255, 79);
}
.section i {
  width: 10%;
}
.section input {
  width: 90%;
  background: transparent;
}
.section input::placeholder {
  color: white;
}

/* <nav id="nav-bar" class="container-fluid">
      <div class="nav-socials row bg-primary w-100 g-0">
        <h4 class="text-white col-2">
          <span class="text-danger">Alex</span> | Servers
        </h4>

        <div class="col-10 d-flex">
          <ul class="flex-grow-1 social-icons d-flex justify-content-around">
            <li class="d-inline">
              <a class="text-white" href="https://www.twitter.com">
                <i class="fab fa-facebook"></i>
              </a>
            </li>
            <li class="d-inline">
              <a class="text-white" href="https://www.twitter.com">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="d-inline">
              <a class="text-white" href="https://www.twitter.com">
                <i class="fab fa-behance"></i>
              </a>
            </li>
            <li class="d-inline">
              <a class="text-white" href="https://www.twitter.com">
                <i class="fab fa-linkedin"></i>
              </a>
            </li>
            <li class="d-inline">
              <a class="text-white" href="https://www.twitter.com">
                <i class="fab fa-sketch"></i>
              </a>
            </li>
          </ul>
          <button id="nav-btn" class="d-none w-10 nav-btn btn text-white">
            <i class="fas fa-bars"></i>
          </button>
        </div>
      </div>
      <!-- THE NAV ROW -->
      <div id="nav-toggle" class="nav-toggle nav-display row">
        <!-- COLUMN 1 -->
        <div class="nav-search col-12 col-sm-7">
          <div class="row d-flex justify-content-between">
            <section
              class="section col-12 col-sm-7 d-flex justify-content-between"
            >
              <input
                class="border-0 p-3"
                placeholder="Search Our Gallery"
                type="text"
              />
              <i class="fas fa-search text-white p-1"></i>
            </section>
            <button class="col-sm-5 col-6 border-0 bg-0">
              <i class="fas fa-search"></i> Search
            </button>
          </div>
        </div>
        <!-- column 2-->
        <div class="col-sm-5 border border-danger">
          <div class="row">
            <div
              class="
                nav-links
                col-6
                d-flex
                flex-column
                align-items-center
                justify-content-around
                py-3
              "
            >
              <a class="text-white text-decoration-none" href=""> SERVICES </a>
              <a class="text-white text-decoration-none" href=""> Terminals</a>
            </div>
            <div
              class="
                nav-links
                col-6
                d-flex
                flex-column
                align-items-center
                justify-content-around
                py-3
              "
            >
              <a class="text-white text-decoration-none" href=""> Venues</a>
              <a class="text-white text-decoration-none" href=""> Transport</a>
            </div>
          </div>
        </div>
        <!-- end of column -->
      </div>
    </nav> */
