@media (max-width: 760px) {
  .card {
    width: 65% !important;
    margin: 0 auto;
  }
}
@media (max-width: 650px) {
  .card {
    width: 80% !important;
  }
}
.active {
  border-bottom: 2px solid #9ba0c0;
}
.brand {
  font-family: "Courier New", Courier, monospace;
}
.show {
  text-shadow: 3px 3px 6px solid grey;
}
.main {
  background-color: #eaedfd;
}
.main-transparent {
  background-color: rgba(234, 237, 253, 0.888);
  text-shadow: 3px 3px 6px grey;
}
.first {
  background-color: #e5e5e5;
}
.first-bg {
  background: url(img/bg1.jpg);
  background-size: cover;
  background-repeat: round;
  min-height: 85vh;
}
.index {
  z-index: -5;
}
.indexx {
  z-index: -10;
}
.sec3 .card {
  margin-top: -15%;
}
.hide {
  overflow: hidden;
  height: 0;
  transition: all 0.25s ease;
}
.faq input:checked + .hide {
  height: 13em;
}
.contact-sec {
  background: url(./img/telecom.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}
